@model PZJudo.Models.InfoAboutUser
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-xs-6 col-md-4">
        @if (Request.IsAuthenticated)
        {
        <h4>Moj profil</h4>
        <hr />
        <dt>Imie:</dt>
        <dd>@Model.User.UserData.FirstName</dd>
        <dt>Nazwisko:</dt>
        <dd>@Model.User.UserData.LastName</dd>
        <dt>Telefon:</dt>
        <dd>@Model.User.UserData.PhoneNumber</dd>
        <dt>Email:</dt>
        <dd>@Model.User.Email</dd>
            foreach (var e in Model.Inputs)
            {
                <dt>@e.Key:</dt>
                <dd>@e.Value</dd>
            }

        <h4>Moje wydarzenia</h4>
        <hr />
        <table border="2">
            <tr>
                <th>Nazwa Wydarzenia</th>
                <th>Udział w evencie</th>
            </tr>

            @foreach (var e in Model.Participation)
            {
                <tr>
                    <td>@e.EventName</td>
                    <td>@e.EventState</td>
                </tr>
            }
        </table>

        }
    </div>
    <div class="btn-group btn-group-lg col-xs-6 col-md-4" role="group">
        @if (!Request.IsAuthenticated)
        {
            @Html.ActionLink("Rejstracja", "CheckType", "Register", routeValues: null, htmlAttributes: new {id = "registerLink", @class = "btn btn-success"})
            @Html.ActionLink("Logowanie", "Login", "Account", routeValues: null, htmlAttributes: new {id = "loginLink", @class = "btn btn-primary"})
        }
    </div>
    <div class="col-xs-6 col-md-4"></div>

</div>
